@page "/"

<style>
    .hidden {
        display: none
    }

    .loading-box {
        display: flex;
        align-items: center;
        margin-top: 10px;
        border-radius: 2px;
        color: white;
        background: purple;
        align-self: center;
        font-weight: bold;
        padding: 10px
    }

    .loader {
        margin-right: 5px;
        border: 8px solid #f3f3f3;
        border-top: 8px solid oklch(62.7% 0.194 149.214);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #fe-game-root {
        background: oklch(37.3% 0.034 259.733);
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
</style>

<template id="fe-model"></template>

<div id="fe-game-root">
    <div class="loading-box">
        <div class="loader"></div>
        Loading game assets
    </div>
</div>
<script type="module" src="index.js"></script>