@page "/"
@using Microsoft.EntityFrameworkCore
@using be.Models
@using be.Data
@using System.Text.Json;
@using System.Security.Claims
@implements IAsyncDisposable
@inject IDbContextFactory<be.Data.BeDataContext> DbFactory

@inject IHttpContextAccessor Accessor

<style>
    .hidden {
        display: none
    }

    .loading-box {
        display: flex;
        align-items: center;
        margin-top: 10px;
        border-radius: 2px;
        color: white;
        background: purple;
        align-self: center;
        font-weight: bold;
        padding: 10px
    }

    .loader {
        margin-right: 5px;
        border: 8px solid #f3f3f3;
        border-top: 8px solid oklch(62.7% 0.194 149.214);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #fe-game-root {
        background: oklch(37.3% 0.034 259.733);
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
</style>

<template id="fe-model">
    @JsonSerializer.Serialize(user)
</template>

<div id="fe-game-root">
    <div class="loading-box">
        <div class="loader"></div>
        Loading game assets
    </div>
</div>
<script type="module" src="index.js"></script>

@code {
    private BeDataContext db = default!;
    User? user
    {
        get
        {
            int id;

            if (int.TryParse(Accessor.HttpContext?.User.Claims.FirstOrDefault(c => c.Type == "Id")?.Value, out id))
            {
                return db.User.SingleOrDefault(u => u.Id == id);
            }

            return new User { Name = "Guest" };
        }
    }

    protected override void OnInitialized()
    {
        db = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await db.DisposeAsync();
}